<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <style>
                .h1{
                    color : red;
                    background-color: yellow;
                }
                iframe{
                    border: tomato;
                }
        </style>
    </head>
    <body>
        <h1 align="center"><--Your Text After Applying Updations--></h1><br>
        <h2 class="h1" align="center">Removed Puncs : {{analyzed}}</h2><br>
        <h2 class="h1" align="center">Capitalized Text : {{caps}}</h2>
        <h2 class="h1" align="center">Number of Characters : {{count}}</h2>
        <a href="http://127.0.0.1:8000/" color="red" align="center">Back</a><br>
        <br>
    </body>
</html>