<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOMEPAGE</title>
    <style>
        #h1{
            background-color: tomato;
        }
    </style>
</head>
<body>
    <h1 align="center" id='h1'>
        WELCOME TO TEXT UTILS
    </h1>
    <div>
        <form action="removepunc" method='get' align="center">
            <h3>Enter Text To Remove Punctuation : </h3><br>
            <textarea name="text" id="" cols="30" rows="10" style="margin: 0px; width: 753px; height: 206px;border-width: 5px;border-color: blue;"> 
            </textarea><br>
            <input type="checkbox"  name="removepunctutations">Remove Punctutation</input><br>
            <input type="checkbox"  name="capitalize">Capitalize</input><br>
            <input type="checkbox" name="charcount">Count Characters</input><br>
            <button type="submit">Analyze Text</button>
        </form>
    </div>
</body>
</html>